<div class="top_userpage">
    <div class="container">
        <%= link_to 'マイページ', mypage_path %>
        <h2><%= current_user.name %></h2>
        <div class="top_userpage_symbol">
            <% if current_user.latest_symbol %>
                <h1 class="top_userpage_symbol_title">称号</h1>
                <div class="top_userpage_symbol_img">
                    <p><%= current_user.latest_symbol.name %></p>
                    <%= image_tag(current_user.latest_symbol.img) if current_user.latest_symbol.img.present? %>
                </div>
            <% end %>
            <p>DEBUG: <%= current_user.latest_symbol.inspect %></p>
        </div>
        <%= link_to '問題！', start_quiz_path %>
        <%= link_to 'ランキング', ranking_path %>
        <%= link_to "セッションを初期化してクイズをやり直す", reset_quiz_path, method: :get, class: "btn btn-warning" %>
    </div>
</div>
