<div class="top_user_session">
    <div class="container">
        <h1 class="top_user_session_title">ログイン</h1>
        <%= form_with url: login_path do |f| %>
            <div class="top_user_session_form_list">
                <%= f.label :email, "メールアドレス", class: "form_label" %>
                <%= f.email_field :email, class: "form_control" %>
            </div>
            <div class="top_user_session_form_list">
                <%= f.label :password, "パスワード", class: "form_label" %>
                <%= f.password_field :password, class: "form_control" %>
            </div>
            <%= f.submit "ログイン", class: "btn top_user_session_buttun" %>
        <% end %>
        <div class="top_user_session__nouser">
        <%= link_to '登録ページへ', new_user_path %>
        <%= link_to 'パスワードをお忘れの方はこちら', '#' %>
        </div>
    </div>
</div>